html,body{
  height:100%;
  width: 100%;
}
.projects{
  height:100;
  width:100%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9c/Eosinophilic_gastroenteritis_CT.jpg");
  position: relative;
  float:left;
}
.container-fluid{
  height: 100px;
  width:100px;
}
